body {
  font-family: Lucida Grande, Arial, sans-serif;
  font-size: 15px;
  color: #777777;
  background: black;
}

a {
  color: #777777;
  text-decoration: none;
}
a:hover {
  color: #d4e9eb;
}
a:active {
  color: #b1d7db;
}

.center-text {
    text-align: center;
}

.bold-text {
    margin-bottom: 15px;
    color: #fff;
    font-weight: 900;
}