.logo {
	display: block;
	position: fixed;
	margin: 0.67em;	
	font-weight: bold;
	font-size: 4em;
	letter-spacing: 1px;
	z-index: 999;
	-webkit-transition: color .4s;
	   -moz-transition: color .4s;
		 -o-transition: color .4s;
			transition: color .4s;
}
.logo.current0 { color: gray; }
.logo.current1 { color: orange; }
.logo.current2 { color: green; }
.logo.current3 { color: black; }
.logo.current4 { color: blue; }

