body {
  background: #444;
}

#toggle {
  z-index: 999;
  position:fixed;

  right: 0px;
  margin-right: 10%;
  display: block;

  width: 25px;
  height: 22px;
  top: 40px;
  
}

#toggle div {
  width: 100%;
  height: 4px;
  background: white;
  margin: 5px 0px 5px 0px;
  transition: all 0.3s;
}

#toggle.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

#menu {
  display: none;
  transition: all 0.3s;
  z-index: 998;
  color: white;
  width: 360px;
  height: 100%;
  padding: 10px;
  border-radius: 3px;
  
  
  text-align: center;
  position:fixed;
  display:block;
  background: #242422;
    
  right:0px;

  padding-top: 140px;
  padding-right: 10%;
  padding-bottom: 20px;
  padding-left: 20px;
  text-align: right;
  box-sizing:border-box;
  
  margin-right: -360px;
}

#menu.on{
  margin-right: 0px;
}

.page-menu{
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  line-height: 1.75;
  color: #757572;
  font-size: 32px;
  text-align: right;
}

.page-content{
  font-family: "proxima-nova", sans-serif;
  font-weight: normal;
  line-height: 1.75;
  color: #f6364d;
  font-size: 20px;
  text-align: right;
}

