.main_body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.main_body .page {
/*     height: 100px; */
    height: 100%;
/*     width: 800px; */
    width: 100%;
    margin-top: -50px;
    text-align: center;
}
    
.main_body .title {
    font-size: 40px;
    color: #f6364d;
}

.main_body .content {
    font-size: 30px;
    color: white;
}

