.main_body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.main_body .page {
    position: relative;
/*     height: 100px; */
    height: 100%;
/*     width: 800px; */
    width: 100%;
/*     margin-top: -50px; */
    text-align: center;
    background-size:cover;
}
    
.main_body .title {
    position: absolute;
    font-size: 40px;
    color: #f6364d;
    top: 50%;
    left: 50%;
    margin: 1px 0 0 -20%;
}

.main_body .content {
    font-size: 30px;
    color: white;
}


/* --- page1 --- */
.main_body .page.page1{
    background-image:url("/images/page1.jpg");
    
}
